/* Вирівнювання елементів усередині body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222831;
  color: #B31E1A;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 1rem;
}

nav a {
  color: #F05454;
  text-decoration: none;
}

main {
  display: flex;
  /* Використання Flexbox для розташування */
  margin: 1rem;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Висота 100% вікна браузера */
}

section {
  flex: 3;
  /* Основна частина */
  margin-right: 1rem;
}

aside {
  flex: 1;
  /* Бічна панель */
  background-color: #A7A5A5;
  padding: 1rem;
  border: 1px solid #ccc;
}

footer {
  background-color: #222831;
  color: #F05454;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
